nav {
    // FIXED
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 70px;
    z-index: 100;
    // 
    padding: 20px;
    background: $mainBlue;
    color: white;
    display: block;

    ul {
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {color: white; padding-right: 10px;}
    }
}