nav {
    // FIXED
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 70px;
    // 
    padding: 20px;
    background: $mainBlue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {color: white; padding-right: 10px;}
    }
}